/* GENERAL DEFINITIONS STARTS */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
img {
	border: none;
	-ms-interpolation-mode: bicubic;
}
h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	color: #E41C23;
}
h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #00324D;
}
h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #00324D;
}
h3 span {
	color: #E41C23;
}
p {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #666;
}
p a {
	text-decoration: underline;
}
p a:hover {
	text-decoration: none;
}
em {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666;
}
ul li {
	list-style: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666;
}
ol li {
	list-style: decimal inside;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666;
}
a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-decoration: none;
	color: #666;
}
a:hover {
	outline: 0;
}
a:focus {
	outline: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	display: block;
}
.clearfix {
	clear: both;
	zoom: 1;
}
.clearfix:before {
	content: "";
	display: table;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.hidden {
	display: none !important;
	visibility: hidden;
}
/* =============================================================================
   Forms
   ========================================================================== */
form {
	margin: 0; 
}
fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}
legend {
	padding-bottom: 25px;
	font-size: 14px;
	color: #666;
}
label {
	font-size: 13px;
	color: #666;
	cursor: pointer;
}
label span {
	color: #E41C23;
}
input {
	border: 1px solid #CCC;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}
textarea {
	border: 1px solid #CCC;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {font-size: 100%;  vertical-align: baseline; *vertical-align: middle;}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input {line-height: normal; *overflow: visible;}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer;}
/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */
textarea {overflow: auto; vertical-align: top; resize: vertical;}
/* Colors for form validity */
input:valid, textarea:valid {}
input:invalid, textarea:invalid {background-color: #F0DDDD;}
.error {color: #FF0000;}
/* GENERAL DEFINITIONS ENDS */


/* =============================================================================
   HTML5 BASE
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}
audio[controls], canvas, video {display: inline-block; *display: inline; *zoom: 1;}
/* =============================================================================
   Base
   ========================================================================== */
html {font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
::-moz-selection {background: #fe57a1; color: #fff; text-shadow: none;}
::selection {background: #fe57a1; color: #fff; text-shadow: none;}
svg:not(:root) {overflow: hidden;}
/* =============================================================================
   HTML5 BASE ENDS
   ========================================================================== */


/* TOP STARTS */
#header_top {
	width: 100%;
	position: relative;
	z-index: 12;
}
#header_top div:first-child {
	width: 960px;
	height: 96px;
	margin: 0 auto;
	padding-top: 13px;
}
#header_top > div > a:first-child {
	padding-top: 10px;
}
#header_top a {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	display: block;
}
#header_top div div {
	min-width: 325px;
	float: right;
}
#header_top a#Proactif {
	margin-top: 12px;
	float: right;
	clear: both;
}
#header_top div nav {
	margin-top: 3px;
	float: right;
}
#header_top div nav ul li {
	color: #666;
	float: left;
}
#header_top div nav ul li a {
	padding: 0 6px;
	color: #666;
}
#header_top div nav ul li a:hover {
	color: #E41C23;
}
#header_top div nav#SocialMedia {
	margin: 0 0 0 12px;
}
#header_top div nav#SocialMedia li a {
	width: 20px;
	height: 20px;
	margin-left: 4px;
	padding: 0;
}
#SocialMedia a:hover {
	background-position: 0 -20px;
}
.facebook {
	background: url(../images/defaults/logo_facebook.gif) no-repeat 0 0;
}
.twitter {
	background: url(../images/defaults/logo_twitter.gif) no-repeat 0 0;
}
.youtube {
	background: url(../images/defaults/logo_youtube.gif) no-repeat 0 0;
}
.linkedin {
	background: url(../images/defaults/logo_linkedin.gif) no-repeat 0 0;
}
#header_top form {
	width: 169px;
	height: 23px;
	margin-top: 16px;
	border: 1px solid #CCC;
	float: right;
	clear: both;
}
#header_top form input {
	width: 138px;
	height: 19px;
	padding: 2px 4px 0;
	font-size: 11px;
	float: left;
}
#header_top form input#Lens {
	width: 23px;
	height: 23px;
	padding: 0;
	background: url(../images/defaults/icon_lens.gif) no-repeat;
	cursor: pointer;
}
#header_top form input#Lens:hover {
	background-position: 0 -23px;
}
#header_top > nav {
	width: 100%;
	height: 33px;
	background-color: #E41C23;
	clear: both;
}
#header_top > nav ul {
	width: 960px;
	margin: 0 auto;
}
#header_top > nav ul li {
	position: relative;
	float: left;
}
#header_top > nav ul li a {
	height: 23px;
	padding: 10px 17px 0 16px;
	color: #FFF;
	position: relative;
}
#header_top > nav ul li a:hover {
	background: url(../images/defaults/bkgd_menu.jpg) repeat-x bottom;
}
#header_top > nav ul li > a:after {
	width: 1px;
	height: 16px;
	content: '';
	background-color: #C31419;
	position: absolute;
	top: 9px;
	left: 0;
}
/* tooltip styling */
.sub {
	padding: 0 !important;
}
#submenu {
	height: 23px;
	padding: 10px 17px 0 16px;
	position: relative;
	cursor: pointer;
	display: block;
}
#submenu:hover, .hover {
	background: url(../images/defaults/bkgd_menu.jpg) repeat-x bottom;
}
.tooltip {
	width: 246px;
	height: 140px;
	padding: 48px 0 0 40px;
	background: url(../images/defaults/black_arrow_big.png);
	text-transform: uppercase;
	color: #00324D;
	position: absolute; 
	top: 30px !important; 
	left: -75px  !important;
	display: none;
	z-index: 10;
}
#header_top .tooltip a {
	height: auto;
	padding: 0 12px 15px 0;
	background: url(../images/defaults/arrow_red2.png) no-repeat right 3px;
	text-transform: uppercase;
	color: #00324D;
	display: inline-block;
	clear: both;
}
#header_top .tooltip a:hover {
	background: url(../images/defaults/arrow_red2.png) no-repeat right 3px;
	color: #E41C23;
}
#header_top .tooltip a.long {
	min-width: 187px;
}
#header_top .tooltip a.medi {
	min-width: 163px;
}
/* TOP ENDS */


/* PAGE PAGE STARTS */
#PageContent {
	width: 930px;
	margin: 0 auto;
	padding: 40px 15px 33px;
	background: url(../images/defaults/shadow_bottom.png) no-repeat top center;
}
#PageContent h1, #PageContent h2 {
	padding-bottom: 20px;
}
#PageContent h3 {
	padding-bottom: 10px;
}
#PageContent p {
	padding-bottom: 20px;
}
#PageContent a {
	color: #00324D;
}
#PageContent hr {
	width: 100%;
	height: 1px;
	margin-bottom: 30px;
	background: url(../images/defaults/line_dashed.gif) repeat-x;
	float: left;
	clear: both;
}
#PageContent aside hr {
	background: url(../images/defaults/line_dashed_2.gif) repeat-x;
	margin-bottom: 18px;
}
.more {
	width: 100px;
	height: 22px;
	margin: 5px 0 35px;
	padding: 9px 0 0 26px;
	background: url(../images/defaults/button_more.gif) no-repeat 0 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF !important;
	display: block;
}
.more:hover {
	background-position: 0 -31px;
}
.red_arrow {
	padding-right: 20px;
	background: url(../images/defaults/arrow_red.png) no-repeat right 3px;
}
.red_arrow:hover {
	background: url(../images/defaults/arrow_blue.png) no-repeat right 3px;
	text-decoration: underline;
}
#CenterContent {
	width: 573px;
	padding: 0 28px 0 0;
	float: left;
	position: relative;
}
#CenterContent article, #CenterContent table {
	padding-bottom: 30px;
	float: left;
}
#CenterContent .col_2 img {
	float: left;
}
#CenterContent .col_2 div {
	width: 287px;
	padding-left: 18px;
	float: left;
}
#PageContent .col_2 div h2 {
	padding-bottom: 5px;
	float: left;
	clear: both;
}
#CenterContent .col_2 div p {
	padding-bottom: 5px;
	font-size: 13px;
	line-height: 17px;
	clear: both;
}
#CenterContent .col_2 div sup {
	line-height: 8px;
}
#CenterContent .col_2 div em {
	padding-top: 3px;
	padding-bottom: 10px;
	font-size: 11px;
	line-height: 15px;
	float: left;
	clear: both;
}
#CenterContent .col_2 div a.red_arrow {
	min-width: 90px;
	float: left;
	clear: both;
}
#PageContent aside {
	width: 328px;
	float: right;
}
#PageContent aside article {
	width: 288px;
	min-height: 178px;
	margin-bottom: 27px;
	padding: 20px;
	background-color: #EBEBEB;
}
#PageContent aside article h1 {
	padding-bottom: 10px;
}
#PageContent aside article h2 {
	padding-bottom: 15px;
}
#PageContent aside article h2 span {
	display: block;
	color: #E41C23;
}
#PageContent aside article p {
	padding-bottom: 3px;
}
#PageContent aside article li {
	padding: 12px 0;
	background: url(../images/defaults/line_dashed_2.gif) repeat-x bottom;
}
#PageContent aside article li.last {
	padding-bottom: 0;
	background: none;
}
#PageContent aside article li a {
	width: 93%;
	padding-right: 20px;
	background: url(../images/defaults/arrow_red.png) no-repeat right 3px;
	display: block;
}
#PageContent aside article li a:hover {
	background: url(../images/defaults/arrow_blue.png) no-repeat right 3px;
	text-decoration: underline;
}
#PageContent .different_list a {
	width: 93%;
	padding-right: 20px;
	background: url(../images/defaults/arrow_gray.png) no-repeat right 3px;
	display: block;
	font-size: 13px;
	color: #666;
}
#PageContent .different_list a:hover {
	background: url(../images/defaults/arrow_red2.png) no-repeat right 3px;
}
#CenterContent ul, #CenterContent ol {
	padding: 0 0 10px 20px;
}
#CenterContent ul li {
	padding: 0 0 25px 20px;
	background: url(../images/page/bullet.gif) no-repeat 0 5px;
}
#CenterContent ol li {
	padding-bottom: 20px;
}
/* PAGE PAGE ENDS */


/* BOTTOM STARTS */
#Bottom {
	width: 100%;
	background: url(../images/defaults/footer_bkgd.gif) repeat;
}
#Bottom > ul {
	width: 930px;
	height: 138px;
	margin: 0 auto;
	padding: 55px 15px 0;
	background: url(../images/defaults/shadow_footer.png) no-repeat top center;
}
#Bottom > ul > li {
	width: 25%;
	float: left;
}
#Bottom ul li a {
	padding: 0 0 6px 10px;
	background: url(../images/defaults/arrow_gray_2.png) no-repeat 0 5px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #DDD;
	float: left;
}
#Bottom ul li a:hover {
	background: url(../images/defaults/arrow_white.png) no-repeat 0 5px;
	color: #FFF;
}
#Bottom ul li a.no_arrow {
	padding-left: 0;
	background: none;
}
#Bottom li ul {
	clear: both;
}
#Bottom li ul li {
	clear: both;
}
#Bottom li ul li a {
	padding-bottom: 4px;
	font-size: 12px;
	font-weight: normal;
	text-transform: capitalize;
}
/* BOTTOM ENDS*/


/* FOOTER STARTS */
footer {
	width: 960px;
	height: 70px;
	margin: 0 auto;
	padding-top: 24px;
}
footer p {
	padding-top: 15px;
	font-size: 11px;
	float: left;
}
footer ul {
	width: 550px;
	float: right;
}
/*footer li:first-child {
	padding-top: 0;
}*/
footer li {
	padding: 12px 0 0 30px;
	float: right;
}
footer li.no_padding {
	padding-top: 12px !important;
	padding-left: 0;
}
footer a {
	font-size: 11px;
}
footer a:hover {
	color: #E41C23;
}
/* FOOTER ENDS*/