/*GALLERIA STARTS*/
#Banners {
	width: 100%;
	height: 298px;
	background: url(../images/index/banners_bkgd.gif) repeat;
	overflow: hidden;
}
#Banners > div, #imagenes_portafolio {
	width: 960px;
	height: 298px;
	margin: 0 auto;
	position: relative;
}
#imagenes_portafolio:before {
	width: 43px;
	height: 298px;
	background: url(../images/index/shadow_left.png) no-repeat 0 0;
	content: '';
	position: absolute;
	top: 0;
	left: -43px;
	z-index: 1;
}
#imagenes_portafolio:after {
	width: 43px;
	height: 298px;
	background: url(../images/index/shadow_right.png) no-repeat 0 0;
	content: '';
	position: absolute;
	top: 0;
	right: -43px;
	z-index: 1;
}
#imagenes_portafolio h2 {
	width: 340px;
	min-height: 60px;
	padding: 20px;
	background-color: #FFF;
	line-height: 30px;
	position: absolute;
	top: 100px;
	left: 17px;
	z-index: 10;
}
#imagenes_portafolio h2.different {
	top: 85px;
}
#paginador {
	min-width: 91px;
	height: 20px;
	padding: 10px 4px 0 4px;
	background-color: #EBEBEB;
	position: absolute;
	bottom: 12px;
	right: -1px;
	z-index: 10;
}
#paginador a {
	width: 10px;
	height: 10px;
	margin: 0 4px;
	background: url(../images/index/pager_03.gif) no-repeat 0 0;
	text-indent: -30px;
	overflow: hidden;
	float: left;
	cursor: pointer;
}
#paginador a:hover {
	background-position: 0 -10px;
}
#paginador a.activeSlide {
	background-position: 0 -10px;
	cursor: text;
}
#prev {
	width: 30px;
	height: 30px;
	background: url(../images/index/banners_arrow_left.jpg) no-repeat;
	text-indent: -50px;
	overflow: hidden;
	position: absolute;
	top: 134px;
	left: -30px;
	z-index: 10;
}
#next {
	width: 30px;
	height: 30px;
	background: url(../images/index/banners_arrow_right.jpg) no-repeat;
	text-indent: -50px;
	overflow: hidden;
	position: absolute;
	top: 134px;
	right: -30px;
	z-index: 10;
}
#prev:hover, #next:hover {
	background-position: 0 -30px;
}
/*GALERIA ENDS*/