/* GENERAL DEFINITIONS STARTS */
.error_msg {
	width: 500px;
	margin-bottom: 30px;
	padding: 20px 20px 5px;
	border: 1px solid #E41C23;
}
.error_msg p {
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	color: #E41C23;
}
.success_msg {
	width: 500px;
	margin-bottom: 30px;
	padding: 20px 20px 5px;
	border: 1px solid #0C6;
}
.success_msg p {
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	color: #0C6;
}
/* FOOTER ENDS*/
